{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="/static/inventory/style.css?{% now "U" %}">

{% endblock %}

{% block content %}
<h2>Totals report:</h2>
<br>
<table id="profitrevenues">
    <tr>
      <th>Total revenue</th>
      <th>Total costs</th>
      <th>Total profit</th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr> 
      <tr>
    </tr>
    <tr>
        <td>{{ revenue }}</td>
        <td>{{ total_cost }}</td>
        <td>{{ profit }}</td>
    </tr>

  </table>
{% endblock %}

